.header
  %h3 All Applications registered to generate PDFs   
  %a{:href => "/api_secure_key/logout"} logout

%div
  %a{ :href => "/api_secure_key/new" } Create New Secure Key

%ul{:class => "no-list"}
  - ask.each do |x|
    %li.clear-both 
      %span.bold Name:
      = x.app_name
    %li
      %span.bold Api Key: 
      = x.api_key
    %li
      %span.bold Hash Key: 
      = x.hash_key
    %li.last
      %a.destroy{ :href => "/api_secure_key/show/#{x.id}" } Show
      %form{:action => "/api_secure_key/destroy", :method => "post"}
        %input{:type => "hidden", :name => "_method", :value => "delete"}
        %input{:type => "hidden", :name => "id", :value => "#{x.id}"}
        %div 
          %button{:type => "submit"}Destroy