%h3 Info for app #{ask.app_name}

%ul{:class => "no-list"}
  %li 
    %span.bold App Name: 
    #{ask.app_name}
  %li 
    %span.bold Api Key: 
    #{ask.api_key}
  %li 
    %span.bold Hash Key: 
    #{ask.hash_key}
    %li.last
      %form{:action => "/api_secure_key/destroy", :method => "post"}
        %input{:type => "hidden", :name => "_method", :value => "delete"}
        %input{:type => "hidden", :name => "id", :value => "#{ask.id}"}
        %div 
          %button{:type => "submit"}Destroy